<h1 align = "center"> All categories </h1>
  <%= will_paginate(@categories, 
  :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, 
  class: 'justify-content-center pagination-sm') %>
<% @categories.each do |category|%>
<ul class = "listing">
<div class="row">
    <li> <%= link_to category.name, category_path(category) %> </li>
</div>
</ul>    
<% end %>  <%= will_paginate(@categories, 
:renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, 
class: 'justify-content-center pagination-sm') %>
